@page "/counter"

<h1>Counter</h1>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="DisplayTime">Display Time</button>
<p>Time: @nowTime</p>

@code {
    private int currentCount = 0;
    private string nowTime = $"{DateTime.Now:yyyy/MM/dd HH:mm:ss}";

    private void IncrementCount()
    {
        currentCount++;
    }
    private void DisplayTime()
    {
        nowTime = $"{DateTime.Now:yyyy/MM/dd HH:mm:ss}";
    }
}
